.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
}
.product-name{
    margin-left: 25px;
    color: blue;
    font-weight: 400;
}
.product-p{
    margin-left: 25px;
}
.add-btn{
    margin-left: 25px;
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid orange;
    cursor: pointer;
    border-radius: 5px;
}